.app-cont {
  background-image: url('https://img.freepik.com/free-photo/abstract-solid-shining-yellow-gradient-studio-wall-room-background_1258-88679.jpg?t=st=1715399956~exp=1715403556~hmac=b49cb990381e62e0ccd2aede4eb51a1bf9ade527780ec6c7d28566cbb0a6675a&w=740');
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 250px;
  margin-bottom: 30px;
}
.counts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .counts-container {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .counts-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}
.count {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
  margin-right: 24px;
}
